@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 80%;
}

.nav-container {
    background-color: white;

    a {
        color: black;
    }
}

header {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .logo {
        color: black;
        font-size: 1.4em;
        font-weight: bold;
    }
    
    ul {
        font-size: 17px;
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.hero {
    background: white;
    color: black;
    display: grid;
    text-align: center;
    padding: 4em;
    //height: 200px;
    //margin-top: 18em;

    .social-header{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        
    
        ul {
            display: flex;
            justify-content: space-between;
            padding: 2em 3em;
        }
    }
}
.content-left{
    margin-top: 18rem;
    h1{
        font-size: 50px;
    }
    p {
        margin-top: -1em;
        //width: 30em;
        font-size: 1em;
    }
}

.content-right {
    display: none;
}

section {
    text-align: center;
}
.portfolio{
    padding-top: 7em;
}

.case_study_shunya {
   // width: 1920px;
   // height: 967px;
    background: url(../images/shunya_inc_bg.svg);
    //flex-wrap: wrap-reverse;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}



.case_study_summit {
    // width: 1920px;
    // height: 1000px;
     width: 100%;
     background: url(../images/summit_bg.svg);
     background-size: auto 90% auto auto;
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
 
 }

 .case_study_left{
    padding-bottom: 5em;
}


.case_study_shunya img {
    //float: right;
    max-width: 500px;
    padding: 3em;
}


.title {
    color: black;
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin-top: -.4em;
}

.description {
    color: #595959;
    font-size: .9em;
    margin-bottom: 3em;
    line-height: 1.8em;
    font-weight: 500;
}

// .case_image{
//     display:flex;
//     justify-content: flex-end;
//     align-items: center;
//     padding: 30px;
// }

.case_study_summit img {
    //float: right;
    max-width: 100%;
    padding: 5em;

}

.organizations {
    background: white;
    color: black;
    display: grid;
    text-align: center;
    padding: 8em 4em;
    height: 300px;
    
    .organization_logos{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        //align-items: center;
        padding-bottom: 0;
        
        
    
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2em;
            
             li{
                padding: 1em;
             }
        }
    }
}

.about_me{
    display: grid;
    //justify-content: center;
    .about_me_left{
        padding: 5em;
        text-align: justify;
    }


    .memoji{
        max-width: 190px;
        padding: 4em 13em;
    }
}
.primary_footer{
    background-color: black;
    color: white;
    height: 20rem;
    padding: 4em 15em 0em 15em;
    
    h2{
        font-size: 3rem;
    }
    .desc{
        font-size: 2em;
        margin-top: -1em;
    }

    

}


.line{
    margin-top: 4em;
    height: 2px;
    background-color: rgb(90, 90, 90);
    //margin: 3em;
    border-radius: 50%;
}

button{
    border: 2px solid #595959;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition-duration: 0.4s;
    //border-radius: 7px;
}
button:hover{
    background-color: #3a3a3a;
    color: white;
}

.ending{
    text-align: center;
}


@media only screen and (min-width: 800px) {
    .nav-container{
        .logo{
            margin-left: 12.5em;
        }
    }
    .portfolio {
        text-align: left;
    }
    .hero{
        display: flex;

        .content-left{
            text-align: left;
            margin-left: 10rem;
        }

        //here can be the potential problem in margin section
        .content-right{
            display: unset;
             margin-left: 18em;
             margin-top: 6em;
        }
        .social-header{
            margin-left: -1em;
        }
    }


    .case_study_shunya {
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
        //padding: 30px;
        //justify-content: flex-end;
        place-content: center;
        height: 900px;

      
    }
    .case_study_shunya img {
        float: right;
        max-width: 700px;
    }
    .case_study_summit {
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
        //padding: 30px;
        //justify-content: flex-end;
        place-content: center;
        height: 900px;

        img {
            float: right;
            max-width: 700px;
        }

    }
    .case_study_left{
        padding-left: 10em;
    }
    .nav-container{
        ul{
            margin-right: 10em;
        }
    }

    .about_me{
        display: flex;
        margin-left: 10em;
        
        .about_me_left{
            width: 50em;
        }
    }

}

@media (max-width: 500px) {
    .case_study_shunya{
        max-height: none;
        height: max-content;
        margin: auto;
        margin-top: 3rem;
        padding-bottom: 8rem;
    }    
}