@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:visited{
    color: white;
}

img {
    width: 80%;
}

.nav-container {
    background-color: white;

    a {
        color: black;
    }
}

header {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .logo {
        color: black;
        font-size: 1.4em;
        font-weight: bold;
    }
    
    ul {
        font-size: 17px;
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.hero {
    background: white;
    color: black;
    display: grid;
    text-align: center;
    padding: 2em;
    //height: 200px;
    //margin-top: 18em;

    .social-header{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        
    
        ul {
            display: flex;
            justify-content: space-between;
            padding: 2em 3em;
        }
    }
}
.content-right {
    display: none;
}
.scroll {
    text-align: center;
}
.organizations {
    background: white;
    color: black;
    display: grid;
    text-align: center;
    padding: 2em 4em 8em 4em;
    height: 300px;
    
    .organization_logos{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        //align-items: center;
        padding-bottom: 0;
        
        
    
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2em;
            
             li{
                padding: 1em;
             }
        }
    }
}
.portfolio{
    padding-top: 7em;
}
.case_study_shunya{
    width: auto;
    background-repeat: no-repeat;
}
.case_study_summit{
    width: auto;
    background-repeat: no-repeat;
}
.about_me {
    padding: 2em;
    text-align: justify;
}

button{
    padding: 1em 1.5em;
    margin: 2em;
    border:none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
.primary_footer {
    background-color: black;
    color: white;
    padding: 3em 10em 5em 10em;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: 2em;
    }
    .desc {
        font-size: 1.5em;
        margin-top: -2em;
    }
    .line {
        border: white;
    }
    .ending {
        margin-top: 2em;
        text-align: center;
    }
    .contact {
        text-align: center;
        ul li {
            padding: 2em;
            display: inline;
            a{
                color: white;
            }
            a:visited {
                color: white;
            }

        }

    }

}




// @media only screen and (max-width: 360px){


// }

@media only screen and (min-width: 320px) and (max-width: 479px) {
    body {
        text-align: center;
        align-items: center;
    }
    header {
        place-content: center;
        display: block;
        .logo{
            font-size: 1em;
        }
        ul{
            display: block;
            font-size: .7em;
            li {
                padding: 7px
            }
        }

    }
    .case_study_content {
        padding: 1em;

    }
    .count {
        display: none;
    }
    .case_study_shunya {
        background: url(../images/shunya_inc_bg_mobile.svg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2em;
        img{
            margin: auto;
        }
    }
    .case_study_summit{
        background: url(../images/summit_bg_mobile.svg) ;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2em;
        img{

            margin: auto;
        }
    }
    .memoji img {
        display: flex;
        justify-content: center;
        width: 4em;
        height: auto;
    }
    .primary_footer{
        h2{
            font-size: 17px;
        }
    }



}

    @media only screen and (min-width: 480px) and (max-width: 979px) {
        body {
            text-align: center;
            align-items: center;
        }
        header {
            place-content: center;
            display: block;
            .logo{
                font-size: 1em;
            }
            ul{
                display: block;
                font-size: .7em;
                li {
                    padding: 7px
                }
            }
        }
        .count {
            display: none;
        }
        .case_study_shunya {
            background: url(../images/shunya_inc_bg_mobile.svg);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column-reverse;
            padding-top: 2em;
            img{
                margin: auto;
            }
        }
        .case_study_summit{
            background: url(../images/summit_bg_mobile.svg) ;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column-reverse;
            padding-top: 2em;
            img{
                margin: auto;
            }
        }
        .memoji img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-top: -2em;

    }
    .case_study_content{
        font-size: 2em;
        text-align: center;
    }
    .primary_footer{
        h2{
            font-size: 3em;
        }
    }
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
        .content-right{
            display: unset;
        }
        .hero{
            display: flex;
            
            .content-left {
                text-align: left;
                margin: 8em 4em;
                width: 30em ;
            }
            .social-header{
                margin-left: -3.5em;
                margin-top: -2em;
            }
        }
        .case_study_shunya{
            background: url(../images/shunya_inc_bg.svg) ;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            padding: 4em;
            display: grid;
            grid-template-columns: 40% auto;
            align-items: center;
            font-size: 2em;

            button{
                margin-left: -.5em;
                margin-top: -1em;
            }
            img {
                margin-left: 1em;
            }
            
        }
        .case_study_summit{
            background: url(../images/summit_bg.svg) ;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            padding: 4em;
            display: grid;
            grid-template-columns: 40% auto;
            align-items: center;
            font-size: 2em;
            .count{
                font-size: 15px;
            }

            button{
                margin-left: -.5em;
                margin-top: -1em;
            }
            img {
                margin-left: 1em;
            }
        }
        .count{
            font-size: 20px;
        }
        .about_me{
            display: flex;
            margin-left: 4em;
            .about_me_left {
                width: 60%;
            }
        }
        .memoji{
            margin-top: -2em;
        }
        .primary_footer{
            h2{
                font-size: 4em;
            }
        }

    }

    @media only screen and (min-width: 1200px) {
        .content-right{
            display: unset;
        }
        .nav-container{
            padding: 1em 10em;
        }
        .hero{
            display: flex;
            h1{
                font-size: 4em;
                line-height: -130%;
            }
            
            .content-left {
                text-align: left;
                margin: 10em 9em;
                //width: 30em ;

                    h1{
                        font-size: 4em;
                        font-weight: normal;
                        line-height: 1.6;
                    }
                    p{
                        margin-top: -2em;
                        width: 30em;
                    }
            }
            .content-right img{
                width: auto;
                margin-left: 6em;
                padding: 1em 2em;
            }
            .social-header{
                margin-left: -3.5em;
                margin-top: -2em;
            }
        }
        .case_study_shunya {
            background: url(../images/shunya_inc_bg.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            display: grid;
            grid-template-columns: 40% auto;
            padding: 5em 2em;
            align-items: center;
            font-size: 3em;
            button{
                margin: -0.5em;
            }
        }
        .case_study_summit {
            background: url(../images/summit_bg.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            display: grid;
            grid-template-columns: 40% auto;
            padding: 5em 2em;
            align-items: center;
            font-size: 3em;
            button{
                margin: -0.5em;
            }
        }
        .about_me{
            display: flex;
            margin-left: 4em;
            .about_me_left {
                width: 50%;
            }
        }
        .memoji{
            width: fit-content;
            margin-top: -3em;
            margin-left: 10em;
        }
        .primary_footer{
            h2{
                font-size: 4em;
            }
        }
    }