@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:visited{
    color: white;
}

img {
    width: 80%;
}

.nav-container {
    background-color: white;

    a {
        color: black;
    }
}

header {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .logo {
        color: black;
        font-size: 1.4em;
        font-weight: bold;
    }
    
    ul {
        font-size: 17px;
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.hero {
    background: white;
    color: black;
    display: grid;
    text-align: center;
    padding: 2em;
    //height: 200px;
    //margin-top: 18em;

    .social-header{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
        
    
        ul {
            display: flex;
            justify-content: space-between;
            padding: 2em 3em;
        }
    }
}
.content-right {
    display: none;
}
.scroll {
    text-align: center;
}
.organizations {
    background: white;
    color: black;
    display: grid;
    text-align: center;
    padding: 2em 4em 8em 4em;
    height: 300px;
    
    .organization_logos{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        //align-items: center;
        padding-bottom: 0;
        
        
    
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2em;
            
             li{
                padding: 1em;
             }
        }
    }
}
.portfolio{
    padding-top: 7em;
}
.case_study_shunya{
    width: auto;
    background-repeat: no-repeat;
}
.case_study_summit{
    width: auto;
    background-repeat: no-repeat;
}
.about_me {
    padding: 2em;
    text-align: justify;
}

button{
    padding: 1em 1.5em;
    margin: 2em;
    border:none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
button:visited{
    color: white;
}

// @media only screen and (max-width: 360px){


// }

@media only screen and (min-width: 320px) and (max-width: 479px) {
    body {
        text-align: center;
        align-items: center;
    }
    header {
        place-content: center;
        display: block;
        .logo{
            font-size: 1em;
        }
        ul{
            display: block;
            font-size: .7em;
            li {
                padding: 7px
            }
        }

    }
    .case_study_content {
        padding: 1em;

    }
    .count {
        display: none;
    }
    .case_study_shunya {
        background: url(../images/shunya_inc_bg_mobile.svg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        img{
            margin: auto;
        }
    }
    .case_study_summit{
        background: url(../images/summit_bg_mobile.svg) ;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        img{

            margin: auto;
        }
    }
    .memoji img {
        display: flex;
        justify-content: center;
        width: 100%;
    }



}

    @media only screen and (min-width: 480px) and (max-width: 979px) {
        body {
            text-align: center;
            align-items: center;
        }
        header {
            place-content: center;
            display: block;
            .logo{
                font-size: 1em;
            }
            ul{
                display: block;
                font-size: .7em;
                li {
                    padding: 7px
                }
            }
        }
        .count {
            display: none;
        }
        .case_study_shunya {
            background: url(../images/shunya_inc_bg_mobile.svg);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column-reverse;
            img{
                margin: auto;
            }
        }
        .case_study_summit{
            background: url(../images/summit_bg_mobile.svg) ;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column-reverse;
            img{
                margin: auto;
            }
        }
        .memoji img {
            display: flex;
            justify-content: center;
            width: 100%;

    }
    .case_study_content{
        font-size: 2em;
        text-align: center;
    }
}