@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', arial;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

img {
  width: 80%;
}

.nav-container {
  background-color: white;
}

.nav-container a {
  color: black;
}

header {
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

header .logo {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

header ul {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  background: white;
  color: black;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 2em;
}

.hero .social-header {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

.hero .social-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 3em;
}

.content-right {
  display: none;
}

.scroll {
  text-align: center;
}

.organizations {
  background: white;
  color: black;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 2em 4em 8em 4em;
  height: 300px;
}

.organizations .organization_logos {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

.organizations .organization_logos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.organizations .organization_logos ul li {
  padding: 1em;
}

.portfolio {
  padding-top: 7em;
}

.case_study_shunya {
  width: auto;
  background-repeat: no-repeat;
}

.case_study_summit {
  width: auto;
  background-repeat: no-repeat;
}

.about_me {
  padding: 2em;
  text-align: justify;
}

button {
  padding: 1em 1.5em;
  margin: 2em;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  background-color: #222222;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.primary_footer {
  background-color: black;
  color: white;
  padding: 3em 2em 2em 2em;
}

.primary_footer h2 {
  text-align: center;
}

.primary_footer p {
  text-align: center;
  margin-bottom: 2em;
}

.primary_footer .desc {
  font-size: 1.5em;
  margin-top: -2em;
}

.primary_footer .line {
  border: white;
}

.primary_footer .ending {
  margin-top: 2em;
  text-align: center;
}

.primary_footer .contact {
  text-align: center;
}

.primary_footer .contact ul li {
  padding: 1em 2em;
  display: inline;
}

.primary_footer .contact ul li a {
  color: white;
}

.primary_footer .contact ul li a:visited {
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header {
    place-content: center;
    display: block;
  }
  header .logo {
    font-size: 1em;
  }
  header ul {
    display: block;
    font-size: .7em;
  }
  header ul li {
    padding: 7px;
  }
  .case_study_content {
    padding: 1em;
  }
  .count {
    display: none;
  }
  .case_study_shunya {
    background: url(../images/shunya_inc_bg_mobile.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 2em;
  }
  .case_study_shunya img {
    margin: auto;
  }
  .case_study_summit {
    background: url(../images/summit_bg_mobile.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 2em;
  }
  .case_study_summit img {
    margin: auto;
  }
  .memoji img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 4em;
    height: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 979px) {
  body {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header {
    place-content: center;
    display: block;
  }
  header .logo {
    font-size: 1em;
  }
  header ul {
    display: block;
    font-size: .7em;
  }
  header ul li {
    padding: 7px;
  }
  .count {
    display: none;
  }
  .case_study_shunya {
    background: url(../images/shunya_inc_bg_mobile.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 2em;
  }
  .case_study_shunya img {
    margin: auto;
  }
  .case_study_summit {
    background: url(../images/summit_bg_mobile.svg);
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 2em;
  }
  .case_study_summit img {
    margin: auto;
  }
  .memoji img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin-top: -2em;
  }
  .case_study_content {
    font-size: 2em;
    text-align: center;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  .content-right {
    display: unset;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .content-left {
    text-align: left;
    margin: 8em 4em;
    width: 30em;
  }
  .hero .social-header {
    margin-left: -3.5em;
    margin-top: -2em;
  }
  .case_study_shunya {
    background: url(../images/shunya_inc_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
  }
  .case_study_shunya button {
    margin-left: -.5em;
    margin-top: -1em;
  }
  .case_study_shunya img {
    margin-left: 1em;
  }
  .case_study_summit {
    background: url(../images/summit_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
  }
  .case_study_summit .count {
    font-size: 15px;
  }
  .case_study_summit button {
    margin-left: -.5em;
    margin-top: -1em;
  }
  .case_study_summit img {
    margin-left: 1em;
  }
  .count {
    font-size: 20px;
  }
  .about_me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4em;
  }
  .about_me .about_me_left {
    width: 60%;
  }
  .memoji {
    margin-top: -2em;
  }
}

@media only screen and (min-width: 1200px) {
  .content-right {
    display: unset;
  }
  .nav-container {
    padding: 1em 10em;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero h1 {
    font-size: 4em;
    line-height: -130%;
  }
  .hero .content-left {
    text-align: left;
    margin: 10em 9em;
  }
  .hero .content-left h1 {
    font-size: 4em;
    font-weight: normal;
    line-height: 1.6;
  }
  .hero .content-left p {
    margin-top: -2em;
    width: 30em;
  }
  .hero .content-right img {
    width: auto;
    margin-left: 6em;
    padding: 1em 2em;
  }
  .hero .social-header {
    margin-left: -3.5em;
    margin-top: -2em;
  }
  .case_study_shunya {
    background: url(../images/shunya_inc_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    padding: 5em 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3em;
  }
  .case_study_shunya button {
    margin: -0.5em;
  }
  .case_study_summit {
    background: url(../images/summit_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    padding: 5em 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3em;
  }
  .case_study_summit button {
    margin: -0.5em;
  }
  .about_me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4em;
  }
  .about_me .about_me_left {
    width: 50%;
  }
  .memoji {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -3em;
    margin-left: 10em;
  }
}
/*# sourceMappingURL=main.css.map */